<a href="https://colab.research.google.com/github/zylinda/EWF/blob/main/EWF_Python_Introduction_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**EWF - Python Introduction Course**

Welcome to our EWF Python Introduction Course. The following tasks will help you understand and use Python. Python can be an extremely valuable tool for EWF, your Bachelor thesis or any other projects.

Please rease and answer all tasks carefully.
Whenever you encounter a "**...**" please try to replace it with your own code. **This is task-based learning - you will have to google a lot!**


Good luck!

##**First Steps**

**Print Function**

By using the print statement, we're able to output text.

*Please run the following code*:

In [11]:
print ('Hello World')

Hello World

<strong>Basic Operations</strong>

With Python, you can easily do some calculations.

*Tap around to perform an addition with a result of 6:*

In [3]:
3+3

6

*Use parantheses to determine which operations are performed first - try to get 40:*

In [16]:
4*4+6+18

40

In [15]:
4*(4+6)

40

*Try to divide by 2 to get a result of 2.00*

**<strong><font color='blue'> Side Note:** we call 2.00 a float variable, while 2 is called an integer variable. Despite seemingly being the same, Python sees them as different datatypes which for example leads to differnt memory needs.</font></strong>

In [5]:
4/2

2.0

**Comments**

You can comment your code, to explain something for later reference.

*Please turn "This is just a comment" into a proper comment.*

In [17]:
# This is just a code

In [6]:
8 + 8
"This is just a comment" # Das ist ein string in Anführungsstrichen

'This is just a comment'

**Storing Values**

You can store values in variables.

*Please complete the code to generate 40 as an output.*

In [20]:
a = 4
b = a * 10
print (b)

40

In [19]:
g = 4
g = g*10
print(g) # Hier wird g überschrieben, nimmt den neuen Wert an

40

In [7]:
x = 10

x = x * 4

print(x)

40

##**Data Types**

If Python handles data, it has to somehow turn it into 1s and 0s. Depending on the type of data, Python uses different internal representations. It is therefore very important, to always make sure your data has the right data type.

**Integers**

Integers are whole numbers like:

- 5
- 3

**Floats**

Numbers that aren't integers are represented as floats in Python ("a floating point number"). Some examples are:
- 0.8
- -5.346

How to create a float?
By entering a number with a decimal point, or by using operations such as division on integers as well as operations on a float and an integer.

*Please build a float dividing 12 by 4 and try to convert it back into an integer (should be 3 not 3.0):*

In [29]:
#create float
a = 2.5
print(float(a))
# turn it into a integer
print(int(a))

2.5
2

In [ ]:
# round() rundet immer auf gerade zahlen ab 0.5 um Datensätze zu minimieren

In [24]:
# create float
c = 12/4
print(float(c))
# turn it into an integer
print(int(c))

3.0
3

**Strings**

You have to use a string if you want to use text in Python. It's one of the basic things that store text like:

- Python is fun
- I love Data Science

How to create a string? By entering text between two single or double quotation marks.

*Run the code to create a string:*

In [21]:
"Python is fun"

'Python is fun'

*What's wrong with the following string? Please correct it so that the type is 'str' and there is no error message!*

In [9]:
type("Lisa's brother likes good food.") # Hier den String eindeutig mit "" schreiben, da '' syntaktisch nicht passt -> error

str

**Booleans & Comparisons**

You've already learned about integers, floats and strings. In Python, another type is the Boolean type. It has two values: True and False. By comparing values (using the equal operator ==), you can create Booleans.

*Please define my_boolean as True:*

**and**
1 und 1 -> 1 (true)
1 und 0 -> 0 (false)

**or**
1 und 0 -> 1 (true)
0 und 1 -> 1 (true)

In [30]:
my_boolean = False
print(type(2 == 2))

<class 'bool'>

*Please compare two numbers and see if you get the "True" statement:*

In [31]:
2 == 4

False

In Python, you can also use operators (> and <) to determine whether one number (float or integer) is smaller than or greater than another.

*Tap around (change the ...) and generate one True as well as one False statement:*

In [32]:
24 < 16

False

In [33]:
24 > 16

True

##**Control Structures**

**if&else statement**

<img src="https://www.tutorialspoint.com/python/images/if_else_statement.jpg" width=300 height=300>

*Now it's your turn! Change the following code (...) to generate "else":*

In [34]:
if 2 + 2 == 4: # Bedingung muss erfüllt sein, dann geht sie in den if code, ansonsten führt sie den else code aus
  if 3 * 3 == 9:
    print ("if")
  else:
    print ("else")

if

In [35]:
if 2 + 2 == 4: # Bedingung muss erfüllt sein, dann geht sie in den if code, ansonsten führt sie den else code aus
  if 3 * 4 == 9:
    print ("if")
  else:
    print ("else")

else

In [38]:
if 2 + 2 == 4: # Bedingung muss erfüllt sein, dann geht sie in den if code, elif code und ansonsten führt sie den else code aus
  if 3 * 4 == 9:
    print ("if")
  elif 2 + 3 == 5:
    print ("elif")
  else:
    print ("else")

elif

**<strong><font color='blue'> Side Note:**  Indentations are very important in Python, as they structure your code. </font></strong>

**Boolean Logic**

Boolean Logic is used to make more complicated conditions for if statements that rely on more than one condition. The Boolean operators are **and, or and not**.

*Tap around to get a false statement:*

In [40]:
print ( 2 < 3 and 2 > 6 ) # Beide müssten richtig sein bei and

False

*Change and correct the following code to print "Hi":*

In [42]:
age = 21
money = 400
if age > 20 and money > 50:
  print("Hi")

Hi

In [43]:
age = 19
money = 400
if age > 20 or money > 50:
  print("Hi")

Hi

**Lists**

Lists are used to store multiple items. By using square brackets with commas separating items, you can create a list.

*Try to print the first argument of the list ("Hello").*

In [54]:
words =  ["Hello", "world", "!", 5] # Listen mit Strings und Zahlen ergibt class int
print (type(words))
print (words)
print (words[0]) # Liste fängt mit 0. Element an [0,1,2] INDIZES, niemals darüber hinausfragen
print (words[-1]) # fängt an von hinten zu zählen, aber ab [-5] -> error

<class 'list'>
['Hello', 'world', '!', 5]
Hello
5

*Change the code to create a list and print its 3rd element:*

In [55]:
the_list = [33, 66, 99] # Listen mit Zahlen
print(the_list[2])

99

**Loops**

A for loop is used to repeat a block of code multiple times. It is common to use the for loop when the number of iterations is fixed (e.g. iterating over a fixed list of items in a shopping list), but there are other loops as well.

*Change the code below to print all elements of your list:*

In [57]:
your_list = ['a','b','c','d'] # Solange ein i Element in der Liste drin ist, geht die Schleife die Liste durch

for i in your_list :
  print (i)

a
b
c
d

**Range**

The range() function returns a sequence of numbers. By default, it starts from 0, increments by 1 and stops before the specified number.

*The code below should generate a list containing all of the integers, up to 10 (not incl.). Please change the following code (...):*

In [59]:
numbers = list(range(10)) # Das druckt den inhalt der Liste angeordnet aus

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
numbers = range(10) # Das würde nur den Code printen

print(numbers)

range(0, 10)

##**Functions & Modules**

**Functions**

In addition to using pre-defined functions like range() or print(), you can create your own functions by using the def statement. You have to define functions before they are called! This is especially useful, if you want to do similar operations again and again.

*Try for yourself and build a function "double_hello" which prints "hello" two times.*

In [69]:
def double_hello(): # def definiert Funktion
  # build a proper loop to print your output two times
  for i in range(2) :
    print ("hello, help mee Lucy")

*Now call your function and see if it prints 'hello' three times:*

In [70]:
double_hello()

hello, help mee Lucy
hello, help mee Lucy

**<strong><font color='blue'> Side Note:**  Python can take any form of object as input to a function AND (almost) everything in Python is an object !! </font></strong>

It is also possible to define a function that takes an argument.

*Fill in the ... to define a function that prints whether the first given paramter is greater or equal than the second paramter - or not:*

In [77]:
def compare(x, y): # hier werden x und y schon von der Position in compare (x,y) definiert:
  if x >= y:
    print(f"{x} ist größer oder gleich {y}") # larger equal
  else:
    print(f"{x} ist kleiner als {y}") # smaller

print(compare(3,4))

3 ist kleiner als 4
None

In [78]:
def compare(x, y): # hier werden x und y schon von der Position in compare (x,y) definiert:
  if x >= y:
    print(f"{x} ist größer oder gleich {y}") # larger equal
  else:
    print(f"{x} ist kleiner als {y}") # smaller
a = 3
b = 5
print(compare(x=a, y=b))

3 ist kleiner als 5
None

In [79]:
def compare(x, y): # hier werden x und y schon von der Position in compare (x,y) definiert:
  if x >= y:
    return f"{x} ist größer oder gleich {y}" # larger equal
  else:
    return f"{x} ist kleiner als {y}"

print(compare(3,4)) # compare gibt jetzt den return value aus

3 ist kleiner als 4

**Modules & Libraries**

Modules refer to a file containing Python functions. A file containing Python code, for example: example.py, is called a module, and its module name would be example. The basic way to use a mdule is to add import *some_module_name* at the top of your code, and then using *some_module_name*.var to access functions and values with the name var in the module. This allows you to access complex functions programmed by other people.

*Please import only the pi constant from the respective module and print pi:*

In [80]:
import math

print(math.pi)

3.141592653589793

In [84]:
from math import math

print(math.pi)

ImportError: cannot import name 'math' from 'math' (unknown location)

##**Pandas - Working with tables**

Please import the pandas module as pd

In [91]:
import pandas as pd

**Data upload**

Download the following dataset: https://github.com/CustomerInsightUHH/EWF/blob/main/datasets/UE_Bier.csv

Please upload dataset using the ![grafik.png]()-button on the left.

![colab.png]()

The following code will load the dataset if uploaded correctly. Typically, a table is called a dataframe or df for short.

In [92]:
df = pd.read_csv('/content/UE_Bier.csv')

Take a look at the top 5 rows of the dataframe

In [94]:
print("Top 5 Zeilen")
print(df.head())

Top 5 Zeilen
   id  männlich  bildungsgrad  Hauptschule  Realschule  Gymnasium  Studium  \
0   1         1             3            0           0          1        0
1   2         1             2            0           1          0        0
2   3         0             1            1           0          0        0
3   4         0             2            0           1          0        0
4   5         1             4            0           0          0        1

   alter  einkommen  bierausgaben  ...  Produkt_1  Produkt_2  Produkt_3  \
0     34      87738    817.030029  ...          3          4          7
1     64     103594    669.289978  ...          2          4          6
2     69      71489    369.630005  ...          5          8          9
3     26      46337    530.520020  ...          4          7          1
4     40      83658    924.190002  ...          5          7          8

   Produkt_4  Produkt_5  Produkt_6  Produkt_7  Produkt_8  Produkt_9  \
0          8          9          1          6         10          2
1          8          9         10          5          7          3
2          1          3          4          6          2          7
3          5          6          8          9         10          2
4          9          2          6         10          1          4

   Produkt_10
0           5
1           1
2          10
3           3
4           3

[5 rows x 21 columns]

Take a look at the 3rd row only

In [97]:
# Achtung: Python-Index beginnt bei 0 -> 3. Zeile ist index 2
print("\n3. Zeile (index 2):")
print("\n3. Zeile (index 2):")
print(df.iloc[2])

3. Zeile (index 2):

3. Zeile (index 2):
id                  3.000000
männlich            0.000000
bildungsgrad        1.000000
Hauptschule         1.000000
Realschule          0.000000
Gymnasium           0.000000
Studium             0.000000
alter              69.000000
einkommen       71489.000000
bierausgaben      369.630005
yuppiebräu          1.000000
Produkt_1           5.000000
Produkt_2           8.000000
Produkt_3           9.000000
Produkt_4           1.000000
Produkt_5           3.000000
Produkt_6           4.000000
Produkt_7           6.000000
Produkt_8           2.000000
Produkt_9           7.000000
Produkt_10         10.000000
Name: 2, dtype: float64

Filter for all the rows with 'männlich' equal to 1

In [106]:
df[df['männlich']== 1]

,id,männlich,bildungsgrad,Hauptschule,Realschule,Gymnasium,Studium,alter,einkommen,bierausgaben,...,Produkt_1,Produkt_2,Produkt_3,Produkt_4,Produkt_5,Produkt_6,Produkt_7,Produkt_8,Produkt_9,Produkt_10
0,1,1,3,0,0,1,0,34,87738,817.030029,...,3,4,7,8,9,1,6,10,2,5
1,2,1,2,0,1,0,0,64,103594,669.289978,...,2,4,6,8,9,10,5,7,3,1
4,5,1,4,0,0,0,1,40,83658,924.190002,...,5,7,8,9,2,6,10,1,4,3
9,10,1,4,0,0,0,1,42,109637,801.260010,...,5,8,2,3,4,6,7,9,10,1
10,11,1,2,0,1,0,0,33,51238,737.630005,...,1,2,5,8,9,10,3,4,6,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,460,1,3,0,0,1,0,38,77891,913.760010,...,2,4,5,9,3,6,7,10,8,1
460,461,1,2,0,1,0,0,31,64545,755.969971,...,2,3,6,1,5,8,9,10,7,4
462,463,1,2,0,1,0,0,69,96371,784.250000,...,8,9,2,3,4,6,7,10,1,5
464,465,1,3,0,0,1,0,61,110787,822.539978,...,5,7,8,9,3,4,1,2,6,10
466,467,1,4,0,0,0,1,47,88615,1031.380005,...,5,8,10,2,3,4,7,9,6,1

How often does each gender appear in the dataset? Use a appropriate function to find out.

In [100]:
# ------------- 4) Wie oft erscheint jedes Geschlecht? -------------
print("\nHäufigkeiten (raw):")
print(df['männlich'].value_counts(dropna=False))
# Falls du lieber lesbare Labels willst:
print("\nHäufigkeiten mit Labels:")
print(df['männlich'].map({1: 'männlich', 0: 'weiblich'}).value_counts())

Häufigkeiten (raw):
männlich
1    238
0    229
Name: count, dtype: int64

Häufigkeiten mit Labels:
männlich
männlich    238
weiblich    229
Name: count, dtype: int64

So far "Einkommen" is treated as a nominal variable - how can we turn it into a categorical one?

In [110]:
import numpy as np
categories=["< 1000", "1000 - < 2000", "2000 - < 4000", "4000 - < 6000", "> 6000"]
bins = [-np.inf, 1000, 2000, 6000, np.inf]

Pandas can also help visualizing data.Try to create a normal bar plot for age.

In [111]:
df['einkommen_kategorie'] = pd.cut(df['einkommen'], bins=bins, labels=categories, right=False)
print(df.head())

ValueError: Bin labels must be one fewer than the number of bin edges

Now, can we turn this into a histogram, to get an idea about the age distribution in our dataset?

In [112]:
# pd.cut erzeugt eine neue Spalte mit den Kategorien
df['einkommen_kat'] = pd.cut(df['einkommen'], bins=bins, labels=categories, right=False, include_lowest=True)

print("\nAnzahl pro Einkommenskategorie:")
print(df['einkommen_kat'].value_counts().sort_index())

ValueError: Bin labels must be one fewer than the number of bin edges

##**End of Python Introduction - Congratulations ¯\\\_(ツ)\_/¯**

You have reached the end of this course. Feel free to play aound with some of the code snippets. You cannnot break anything in Colab and you can reload at any point.

If you have any questions left, ask Google or your excercise instructor.